#RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteEngine On
RewriteCond %{HTTP_HOST} ^csicprefects\.com [NC]
RewriteRule ^(.*)$ https://www.csicprefects.com/$1 [L,R=301]